<div class="container">
<table class="table table-striped">
    <tr>
        <th>
            Date
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Priority
        </th>

    </tr>
    <tr *ngFor="let task of tasks; let i = index">
        <td>
            {{task.date}}
        </td>
        <td>
            {{task.title}}
        </td>
        <td>
            {{task.description}}
        </td>
        <td>
            {{task.priority}}
        </td>
        <td>
            <button (click)="edit(i)" class="btn btn-success">Edit</button>
            <button (click)="done(i)" class="btn btn-success">Done</button>
        </td>


    </tr>
</table>
</div>